.App {
  --custom-font: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: grid;
  grid-template-areas: "sidebar header""sidebar main";
  grid-template-columns: 1fr 2.6fr;
  grid-template-rows: 120px 1fr;
  min-height: 100vh;
  background-color: #102541;
}

.App__nav {
  background-color: #0b1b32;
  color: #fff;
  grid-area: sidebar;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}

.App__header {
  background-color: #0b1f3a;
  color: #bdbdbd;
  font-family: var(--custom-font);
  grid-area: header;
  padding-left: 16px;
  padding-top: 32px;
  text-shadow: 2px 1px 2px black;
}

.App__header a {
  color: #bdbdbd;
}

.App__main {
  background-color: #102541;
  grid-area: main;
  height: calc(100vh - 120px);
  width: 100%;
}