.Note {
  height: inherit;
  width: inherit;
  background-color: #010d1e;
  color: #cacaca;
  margin-bottom: 8px;
  padding-left: 8px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}


.Note__delete {
  background-color: #041a3a;
  border: 0;
  color: #bdbcbc;
  font-size: 12px;
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Note__delete>* {
  transform: rotate(-90deg);


}

button span {
  transform: rotate(-90deg);



}

button {
  height: inherit;

}

.Note__content {
  width: inherit;
  height: 100%;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
}

.Note__delete:hover {
  background-color: #bd0909;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.Note__title {
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0;
  min-height: 24px;
}

.Note__title a {
  color: #cacaca;
  text-decoration: none;
}

.Note__title a:hover {
  color: #FFB72F;
}

.Note__dates {
  bottom: 8px;
  color: #a7a5a5;
  font-size: 14px;
}